body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* White background */
    color: #000; /* Black text color */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

.go-back {
    margin-bottom: 20px;
}

.go-back a button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.go-back a button:hover {
    background-color: #333;

}
.header h1 {
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

.input-form {
    margin-top: 20px;
}

.normal-input {
    margin-bottom: 15px;
}

.normal-input label {
    display: block;
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}

.normal-input input[type="text"],
.normal-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
}

.normal-input textarea {
    height: 100px;
}

.normal-input button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.normal-input button:hover {
    background-color: #333; /* Dark gray on hover */
}