<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/error.css"/>

</head>
<body>
<div class="error-container">
    <div class="error-message">
        <span th:text="${message}">Something went wrong. Please try again later.</span>
    </div>
    <div class="error-description">
        We apologize for the inconvenience. Please try again later or go back to the homepage.
    </div>
    <a href="/" class="home-link">Go to Home</a>
</div>
</body>
</html>