<!Doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css"/>
    <script src="https://kit.fontawesome.com/7ab6a01705.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="blog-title">
            <h1>Blog Application</h1>
        </div>
        <div class="header-buttons">
            <div class="add-post">
                <a th:href="@{/posts/new}">
                    <button>Add new Post</button>
                </a>
            </div>
        </div>
    </div>
    <div class="filtering">
        <div class="search-box">
            <form th:action="@{/}" method="get">
                <input type="text" placeholder="Search by title, content, author, or tags" id="search" name="searchTerm"
                       th:value="${searchTerm}"/>
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="filters">
            <div id="filterForm">
                <form th:action="@{/}" method="get">
                    <div class="dropdown">
                        <button class="dropdown-toggle" id="dropdownToggle" type="button">
                            Filter
                            <i id="dropdownArrow" class="fas fa-chevron-down"></i> <!-- Down arrow icon -->
                        </button>
                        <div class="dropdown-menu" id="dropdownMenu">
                            <div class="dropdown-section">
                                <span style="padding:2px;font-weight:bold;">Authors</span>
                                <div class="checkbox-group" style="margin-top:10px;">
                                    <ul>
                                        <li th:each="author:${authors}">
                                            <label>
                                                <input type="checkbox" name="authorsList" th:value="${author}"
                                                       th:checked="${authorsList.contains(author)}"/>
                                                <span th:text="${author}"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div style="height:100px" class="dropdown-section">
                                <span style="padding:2px;font-weight:bold;">Published Date</span>
                                <div class="date-group" style="margin-top:10px;">
                                    <input type="date" id="publishedDate" name="publishedDate"/>
                                </div>
                            </div>

                            <div class="dropdown-section">
                                <span style="padding:2px;font-weight:bold;">Tags</span>
                                <div class="checkbox-group" style="margin-top:10px;">
                                    <ul>
                                        <li th:each="tag : ${tags}">
                                            <label>
                                                <input type="checkbox" name="tagsList" th:value="${tag.id}"
                                                       th:checked="${tagsList.contains(tag.id)}"/>
                                                <span th:text="${tag.name}"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dropdown-action">
                                <i class="fas fa-times" id="closeIcon"></i>
                                <button type="submit">Apply</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <form th:action="@{/}">
                    <input type="hidden" name="searchTerm" th:value="${searchTerm}">
                    <input type="hidden" name="authorsList" th:each="author : ${authorsList}" th:value="${author}"/>
                    <input type="hidden" name="tagsList" th:each="tag : ${tagsList}" th:value="${tag}"/>
                    <input type="hidden" name="publishedDate" th:value="${publishedDate}"/>
                    <select id="sort" name="sortOrder">
                        <option value="">Sort by</option>
                        <option value="desc" th:selected="${sortOrder == 'desc'}">Newest First</option>
                        <option value="asc" th:selected="${sortOrder == 'asc'}">Oldest First</option>
                    </select>
                    <button type="submit">Click</button>
                </form>
            </div>
        </div>
    </div>
    <div class="posts-list">
        <div class="particular-post" style="text-align: center;font-size:50px" th:if="${posts.isEmpty()}">No posts
            found
        </div>
        <div class="particular-post" th:if="${!posts.isEmpty()}" th:each="post : ${posts}">
            <div class="post-title" th:text="${post.title}">Title</div>
            <div class="created-by-text" th:text="'Created by :'+${post.author}">Author</div>
            <div style="font-size:20px;" th:text="${post.excerpt}">Excerpt</div>
            <div class="particular-post-bottom">
                <div th:text="${post.formattedDate}">Published At</div>
                <div>
                    <a th:href="@{/posts/{id}(id=${post.id}, sortOrder=${sortOrder},searchTerm=${searchTerm},page=${pageNumber},tagsList=${tagsList},authorsList=${authorsList})}">
                        <button>Read More</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div>
    </div>
    <div class="pagination">
        <a th:if="${pageNumber > 0}"
           th:href="@{/?(page=${pageNumber - 1},sortOrder=${sortOrder},searchTerm=${searchTerm},authorsList=${authorsList},tagsList=${tagsList},publishedDate=${publishedDate})}">

            <button>Previous</button>
        </a>
        <span class="page-number" th:text="${pageNumber + 1} +' of '+${totalPages}">1</span>
        <a th:if="${pageNumber + 1 < totalPages}"
           th:href="@{/?(page=${pageNumber + 1},sortOrder=${sortOrder},searchTerm=${searchTerm},authorsList=${authorsList},tagsList=${tagsList},publishedDate=${publishedDate})}">
            <button>Next</button>
        </a>
    </div>
</div>
<script>
    const dropdownToggle = document.getElementById("dropdownToggle");
    const dropdownMenu = document.getElementById("dropdownMenu");
    const dropdownArrow = document.getElementById("dropdownArrow");
    const closeIcon = document.getElementById("closeIcon");
    dropdownMenu.style.display = "none";
    dropdownToggle.addEventListener("click",()=>{
        if(dropdownMenu.style.display === "none") {
            dropdownMenu.style.display = "block";
            dropdownArrow.classList.remove('fa-chevron-down');
            dropdownArrow.classList.add('fa-chevron-up');
        }
        else
        {
            dropdownMenu.style.display = 'none';
            dropdownArrow.classList.remove('fa-chevron-up');
            dropdownArrow.classList.add('fa-chevron-down');
        }
    });
    closeIcon.addEventListener("click",()=>{
        dropdownMenu.style.display = 'none';
        dropdownArrow.classList.remove('fa-chevron-up');
        dropdownArrow.classList.add('fa-chevron-down');
    });
</script>
</body>
</html>