<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
    <script src="https://kit.fontawesome.com/7ab6a01705.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/register.css"/>
</head>
<body>

<div class="container">
    <h2>Register</h2>
    <form id="signupForm" method="post" th:action="@{/registerUser}" th:object="${userForm}"
          onsubmit="return validateForm()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" th:field="*{name}" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" th:field="*{email}" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="password-container">
                <input type="password" id="password" name="password" th:field="*{password}" required>
                <i class="fas fa-eye toggle-password" onclick="togglePassword('password')"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Re-enter Password</label>
            <div class="password-container">
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <i class="fas fa-eye toggle-password" onclick="togglePassword('confirmPassword')"></i>
            </div>
        </div>
        <div id="error-message" class="error"></div>
        <button type="submit">Sign Up</button>
        <div class="login-link">
            Already registered? <a href="/login">Login here</a>
        </div>
    </form>
</div>

<script>
    // Function to validate if passwords match
    function validateForm() {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        const errorMessage = document.getElementById('error-message');

        if (password !== confirmPassword) {
            errorMessage.textContent = "Passwords do not match!";
            return false;
        }
        return true;
    }

    function togglePassword(fieldId) {
        const passwordField = document.getElementById(fieldId);
        const icon = passwordField.nextElementSibling;

        if (passwordField.type === "password") {
            passwordField.type = "text";
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = "password";
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>
</body>
</html>
