<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Comment</title>
    <link rel="stylesheet" href="/css/update-comment.css"/>
</head>
<body>
<div class="container">
    <div>
        <h1>Edit Comment</h1>
    </div>
    <form th:object="${commentForm}" method="post"
          th:action="@{/updateComment/{id}(id=${commentForm.id},postId=${postId})}">
        <div class="normal-input">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required/>
        </div>
        <div class="normal-input">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required/>
        </div>
        <div class="normal-input">
            <label for="comment">Comment:</label>
            <textarea id="comment" th:field="*{comment}" required></textarea>
        </div>
        <div>
            <button type="submit" class="submit-button">Update</button>
        </div>
    </form>
</div>
</body>
</html>
